{% extends 'project_lists/base.html' %}
{% block title %}
    Eliminar Proyecto
{% endblock %}
{% block content %}
      <div class="modal-dialog" role="">
            <div class="modal-content">
                <div class="modal-header d-block">
            <div class="d-flex">

                 <h3 class="modal-title" style="color:black">Eliminar Proyecto</h3>

                <button type="button" class="close" onClick="javascript:history.go(-1);">
                    <span aria-hidden="true">&times;</span>
                </button>

                </div>
            </div>
        <div class="modal-body">
            <div class="card-body">
                <form class="form" id="delete-form" method="POST">
                    {% csrf_token %}
                    <div class="input-group form-group-no-border input-lg center">
                        <p style="color:black">Está seguro de que de sea eliminar el proyecto "{{ project_name }}"? </p>
                        <p style="color:black">Todos los datos asociados al mismo serán eliminados y no podrán ser recuperados.</p>
                    </div>
                    <span>
                        <button type="submit"
                                class="btn btn-primary btn-round">
                            Si, eliminar todo
                        </button>
                        <input class="input-group form-group-no-border input-lg" style="display:none" name="id" value={{project}} />
                        <button type="button" class="btn btn-secondary"onClick="javascript:history.go(-1);">No, volver</button>
                    </span>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
