{% extends 'project_lists/base.html' %}
{% block title %}
    Inicio
{% endblock %}
{% block content %}

    <div class="modal modal-dialog modal-login modal-clear alien-modal-form" id="FormModal"
         tabindex="-1" role="dialog" style="color: black">
    </div>

    <div class="row" style="margin-top:-20px">
        <div class="col-md-8 ml-auto mr-auto">
            <div class="card card-plain" style="color:black">
                <div class="card-body bg-white" style="opacity:.65">
                    

                    {% for message in messages %}
                        <div class="alert {{ message.tags }} " >
                            <button type="button" class="close" >
                          
                             </button>
                             {{ message }}
                        </div>
                      {% endfor %}

                    <div class="pull-left">
                            <a href="{% url 'project_lists:dashboard_add' owner.id %}"
                                class="padding-five btn btn-primary btn-round float-right">
                                <i class="material-icons padding-five"> + </i>
                            </a>
                    </div>
                    
                    <div class="table-responsive ">
                       <table class="table table-hover table-fixed">
                            {% if project_lists %}
                                <thead class="">
                                <tr>
                                    <th>
                                        Proyectos
                                    </th>
                                    <th>
                                        Creado el...
                                    </th>
                                    <th class="text-center">
                                        Actualizado el...
                                    </th>
                                    <th class="text-right">
                                         Acciones
                                    </th>
                                </tr>
                                </thead>

                                <tbody>
                                    {% for list in project_lists %}
                                        <tr>
                                            <td>
                                                {{ list.name }}
                                            </td>
                                            <td class="text-center">
                                                {{ list.date_created }}
                                            </td>
                                            <td class="text-center">
                                                {{ list.date_updated }}
                                            </td>
                                            <td class="text-right">
                                                <a align="left" class="nav-link" href="{% url 'project_lists:update_list' list.id %}">Modificar</a>
                                                <a align="left" class="nav-link" href="{% url 'project_lists:edit_project_components' list.id %}">Componentes</a>
                                                <a align="left"  class="nav-link" href="{% url 'project_lists:dashboard_delete' list.id %}">Eliminar</a>
                                                <a align="left" class="nav-link" href="{% url 'project_lists:pdf_MTV' '4' list.id %}">Descargar</a>

                                            </td>
                                            <td class="text-right">
                                                <a  align="left" class="nav-link" href="{% url 'project_lists:duplicate' list.id %}">Duplicar</a>
                                                <a  align="left" class="nav-link" href="{% url 'project_lists:estimate' list.id %}">Estimar</a>
                                                <a  align="left" class="nav-link" href="{% url 'project_lists:average_estimate' list.id 0 %}">Consultar Estimaciones</a>
                                                <a  align="left" class="nav-link" href="{% url 'project_lists:average_estimate' list.id 1 %}">Estimación Avanzada</a>

                                            </td>
                                        
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            {% else %}
                                
                                <thead>
                                    <h6>
                                        TODAVÍA NO HAS AGREGADO PROYECTOS, POR FAVOR CREA UNO UTILIZANDO EL BOTÓN DE + 
                                    </h6>
                                </thead>
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
