<div class="modal-dialog" role="">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"></h5>
        </div>
        <div class="modal-body">
            <div class="card-body">
                <form class="form" id="delete-form" method="POST"
                >
                    {% csrf_token %}
                    <div class="input-group form-group-no-border input-lg center">
                        <p>Are Sure you want to delete "</p> {{ object.name }} <p>" project? </p>
                    </div>
                    <span>
                        <button type="submit"
                                class="btn btn-primary btn-round">
                            Yes, I'm sure
                        </button>
                        <button type="button" class="btn btn-secondary btn-round"
                                data-dismiss="modal">No, take me back
                        </button>
                    </span>
                </form>
            </div>
        </div>

    </div>
</div>