{% extends 'project_lists/base.html' %}
{% block title %}
    Componentes
{% endblock %}
{% block content %}
    <div class="modal modal-dialog modal-login modal-clear alien-modal-form" id="FormModal"
         tabindex="-1" role="dialog" style="color: black">
    </div>

    <div class="row" style="margin-top:-20px">
        <div class="col-md-8 ml-auto mr-auto">
            <div class="card card-plain" style="color:black">
                    <a href="{% url 'project_lists:dashboard' %}"
                    class="btn btn-neutral pull-left">❮ Volver al inicio</a>
                <div class="card-body bg-white" style="opacity:.65">
                    {% if form.errors %}
                        <div class="alert alert-danger" role="alert">
                            <div class="container">
                                <div class="alert-icon">
                                    <i class="now-ui-icons objects_support-17"></i>
                                </div>
                               
                                {% for error in form.errors %}
                                    {{ form.errors.as_text | escape }}
                                {% endfor %}
                                <button type="button" class="close" data-dismiss="alert"
                                        aria-label="Close">
						<span aria-hidden="true">
							<i class="now-ui-icons ui-1_simple-remove"></i>
						</span>
                                </button>
                            </div>
                        </div>
                    {% endif %}
                    {% if messages %}
                        <div class="alert alert-success" role="alert">
                            <div class="container">
                                <div class="alert-icon">
                                    <i class="now-ui-icons ui-2_like"></i>
                                </div>
                                <strong>Agregado!</strong>
                                {% for message in messages %}
                                    {{ message }}
                                {% endfor %}
                                <button type="button" class="close" data-dismiss="alert"
                                        aria-label="Close">
  				        		    <span aria-hidden="true">
						    	        <i class="now-ui-icons ui-1_simple-remove"></i>
						            </span>
                                </button>
                            </div>
                        </div>
                    {% endif %}
                    <div class="pull-left">
                        <a href="{% url 'project_lists:add_components' project_id %}"
                            class="padding-five btn btn-primary btn-round float-right">
                            <i class="material-icons padding-five">add</i>
                        </a>
                    </div>
                    <div class="table-responsive ">
                        <table class="table table-hover table-fixed">
                            {% if components %}
                                <thead class="">
                                <tr>
                                    <th class="text-center">
                                        #
                                    </th>
                                    <th>
                                        Componentes
                                    </th>

                                    <th class="text-center">
                                        Acciones
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for component in components %}
                                    <tr>
                                        <td class="text-center">
                                            {{ forloop.counter }}
                                        </td>
                                        <td>
                                            {{ component.name }}
                                        </td>
                                        <td class="text-center">
                                                <a class="nav-link" href="{% url 'project_lists:components_edit' project_id component.id %}">Cambiar Nombre</a>
                                                <a class="nav-link" href="{% url 'project_lists:component_delete' project_id component.id %}">Eliminar</a>
                                        </td>
                                        
                                    </tr>
                                {% endfor %}
                                </tbody>
                            {% else %}
                                <br>
                                <br>
                                <thead>
                                <tr>
                                    ********** TODAVIA NO SE HAN AGREGADO COMPONENTES **********
                                </tr>
                                </thead>
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
