{% extends 'project_lists/base.html' %}
{% block title %}
    Estimar Proyecto
{% endblock %}
{% block content %}
<div class="modal-dialog" role="">
    <div class="modal-content">
       <div class="modal-header d-block">
            <div class="d-flex">
             <h3 class="modal-title" style="color:black">Estimar </h3>

             <button type="button" class="close" onClick="javascript:history.go(-1);">
                    <span aria-hidden="true">&times;</span>
             </button>
            </div>
            <h5 class="modal-title" style="color:black" align="left">Proyecto: {{ project_name }} </h5>
        </div>
         <div class="modal-">
        <div class="modal-body">
            <div class="card-body">
                <form class="form" method="POST" >
                    {% csrf_token %}
                    <span>
                        <label class="form-check-label">
                            {{ form.name.label }}
                        </label>
                        <div class="input-group form-group-no-border input-lg">
                           {{ form.type_estimate }}
                        </div>
                       <input class="input-group form-group-no-border input-lg" style="display:none" name="id" value={{project_id}} />
                            <button type="submit"
                                    class="btn btn-primary btn-round btn-lg btn-block">
                                OK
                            </button>
                    </span>
                </form>
            </div>
        </div>
         <div class="modal-footer">
          <button type="button" class="btn btn-secondary"onClick="javascript:history.go(-1);">Cerrar</button>
         </div>
    </div>
</div>

{% endblock %}