{% extends 'project_lists/base.html' %}
{% block title %}
    MTV
{% endblock %}
{% block content %}


    <div class="modal modal-dialog modal-login modal-clear alien-modal-form" id="EstimationModal"
         tabindex="-1" role="dialog" style="color: black">
    </div>
    <div class="row" style="margin-top:-20px">
        <div class="col-md-8 ml-auto mr-auto">
                <a href="{% url 'project_lists:dashboard' %}"
                class="btn btn-neutral pull-left">❮ Volver al inicio</a>
            <div class="card card-plain" style="color:black">
                <div class="card-body bg-white" style="opacity: .65">
                    {% if form.errors %}
                        <div class="alert alert-danger" role="alert">
                            <div class="container">
                                <div class="alert-icon">
                                    <i class="now-ui-icons objects_support-17"></i>
                                </div>
                                <strong>Oh snap!</strong>
                                {% for error in form.errors %}
                                    {{ form.errors.as_text | escape }}
                                {% endfor %}
                                <button type="button" class="close" data-dismiss="alert"
                                        aria-label="Close">
						<span aria-hidden="true">
							<i class="now-ui-icons ui-1_simple-remove"></i>
						</span>
                                </button>
                            </div>
                        </div>
                    {% endif %}
                    {% if messages %}
                        <div class="alert alert-success" role="alert">
                            <div class="container">
                                <div class="alert-icon">
                                    <i class="now-ui-icons ui-2_like"></i>
                                </div>
                                <strong>Well done!</strong>
                                {% for message in messages %}
                                    {{ message }}
                                {% endfor %}
                                <button type="button" class="close" data-dismiss="alert"
                                        aria-label="Close">
  						<span aria-hidden="true">
							<i class="now-ui-icons ui-1_simple-remove"></i>
						</span>
                                </button>
                            </div>
                        </div>
                    {% endif %}
                    <div class="pull-left">

                        <div class="text-right" >
                            <a href="{% url 'project_lists:mtv_estimate' project.id  %}"
                            class="btn btn-sm ">
                            Estimar                   </a>


                        </div>
                    </div>
                    <div class="row" >

                            <div class="col-3">
                                <label>Componente</label>
                             </div>
                              <div class="col-3">
                                 <label>Optimista</label>
                              </div>
                              <div class="col-3">
                                <label>Promedio</label>
                              </div>
                              <div class="col-3">
                                  <label>Pesimista</label>
                              </div>

                              <div class="col-1">

                              </div>

                    </div>
                    <hr  style="margin:10px; margin-top:0px;" >
                    <div class="card-body">
                    <form action= 'mtv/editMTV/' method="POST" >
                    {% csrf_token %}
                     {% for component in components %}
                     <div class="row form-row spacer">
                             <div class="col-3">
                                     <label>{{component.name}}</label>
                             </div>

                              <div class="col-3">
                                  <div class="input-group form-group-no-border input-lg">
                                  <input  type="number"  step=".01" placeholder="OPTIMISTA" name="optimist" value={{component.optimist}}  required>
                                </div>
                              </div>
                               <div class="col-3">
                                  <div class="input-group form-group-no-border input-lg">
                                  <input  type="number"  step=".01" placeholder="PROMEDIO" name="average" value={{component.average}} required>
                                </div>
                              </div>
                               <div class="col-3">
                                  <div class="input-group form-group-no-border input-lg">
                                  <input  type="number"  step=".01" placeholder="PESIMISTA" name="pessimist" value={{component.pessimist}} required>
                                </div>
                              </div>
                              <div class="col-1">
                                 <div class="input-group form-group-no-border input-lg">
                                  <input  type ="hidden" input-group form-group-no-border input-lg" name="id"  value={{component.id}} />
                                </div>

                             </div>
                          </div>
                        {% endfor %}
                         <div class="pull-left">
                            <div >
                                <button type="submit" class="btn btn-default btn-sm" >
                                 <span class="glyphicon glyphicon-floppy-disk"></span> Actualizar
                        </button>
                            </div>
                          </div>





                     </form>
                    </div>
                </div>
            </div>


        </div>
    </div>
{% endblock %}







