{% extends 'project_lists/base.html' %}
{% block title %}
    MTV para {{ object.name }}
{% endblock %}
{% block content %}  
    <div class="row" style="margin-top:-20px">
        
        <div class="col-md-8 ml-auto mr-auto">
            <a href="{% url 'project_lists:dashboard' %}"
               class="btn btn-neutral pull-left">❮ Volver al inicio</a>
            <div class="card card-plain" style="color:black">
                <div class="card-body bg-white" style="opacity: .65">
                    <div class="pull-left">
                        <a href="" data-toggle="modal"
                            data-target="#AddList"
                            class="padding-five btn btn-primary float-right">
                            Guardar
                        </a>                     
                        <div class="text-left" >
                                <button type="button" 
                                class="alien-modal-trigger btn btn-primary "
                                style="background-color: #1858cd; font-size: 15px"
                                title="Estimate"
                                data-action="{% url 'project_lists:mtv_estimate' 3  %}"
                                data-modal_id="#EstimationModal"
                                data-form_id="#mtv-form"
                                data-list_name={{ object.id  }}>
                                Estimate </button>
                        </div>
                    </div>
                    <div class="table-responsive " >
                        <table class="table"   >
 
                             <tr>
                                <h6>
                                     Activities for {{ object.name }} project.
                                </h6>
                             </tr>
                             {% if Component %}
                                <thead class="">
                                <tr>
                                     <th class="text-center">
                                         #
                                     </th>
                                     <th>
                                         Component Name
                                     </th>
                                     <th>
                                         Optimist Estimate
                                     </th>
                                     <th>
                                         Average Estimate
                                     </th>
                                     <th>
                                         Pessimist Estimate
                                     </th>
                                     <th class="text-center">
                                         Actions
                                     </th>
                                </tr>
                                </thead>
                                <tbody>
                                 {% for item in Component %}
                                     <tr>
                                         <td class="text-center">
                                             {{ forloop.counter }}
                                         </td>
                                         <td>
                                             {{ item.name }}
                                         </td>
 
                                         <td class ="allow_only_numbers_decimal" contentEditable="True" >
                                           <input>  {{ item.optimist }} </input>
                                         <td>
                                         <td class ="allow_only_numbers_decimal" contentEditable="True">
                                             {{ item.average}}
                                         </td>
                                         <td class ="allow_only_numbers_decimal" contentEditable="True">
                                             {{ item.pessimist}}
                                         </td>
                                         <td class="text-center">
                                            <a  class="nav-link" href="{% url 'project_lists:dashboard' %}">Eliminar</a>
                                         </td>
 
                                     </tr>
                                 {% endfor %}
                                </tbody>
                            {% else %}
                                <br>
                                <br>
                                <thead>
                                <tr>
                                    ********** NO ACTIVITIES ADDED YET, PLEASE CREATE ONE **********
                                </tr>
                                </thead>
                            {% endif %}
                        </table>
                    </div>
                </div>
            
            </div>
            
            
            
            
        </div>
        <button type="submit" class="btn btn-primary btn-round btn-lg btn-block"> Guardar </button>
 
    </div>
{% endblock %}
