{% extends 'project_lists/base.html' %}
{% block title %}
    Estimar MTVM
{% endblock %}
{% block content %}
       <div class="modal-dialog" role="">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 style="color:black">Estimar</h5>
                    <button type="button" class="close" onClick="javascript:history.go(-1);">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card-body">
                        <form class="form" method="POST"
                              action="{% url 'project_lists:dashboard' %}">
                            {% csrf_token %}
                            <span>
                       <div class="input-group form-group-no-border input-lg center" style="color:black">
                           <p> El valor estimado es: {{ message }} </p>
                        </div>

                    </span>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"onClick="javascript:history.go(-1);">OK</button>
                 </div>
            </div>
        </div>


{% endblock %}