<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"></h5>
        </div>
        <div class="modal-body">
            <div class="card-body">
                <form class="form" id="delete-item-form" method="POST"
                >
                    {% csrf_token %}
                    <div class="input-group form-group-no-border input-lg center">

                      <p> El valor estimado es </p>  {{ message }}

                    </div>
                    <span>
                        <button type="button" class="btn btn-secondary closeModal" data-dismiss="modal"  style="background-color: #1858cd; font-size: 15px">OK
                         </button>
                    </span>
                </form>
            </div>
        </div>

    </div>
</div>