{% extends 'project_lists/base.html' %}
{% block title %}
    RePCU para {{ object.name }}
{% endblock %}
{% block content %}

    <div class="row" style="margin-top:-20px">
        <div class="col-md-8 ml-auto mr-auto">
              
                <a href="{% url 'project_lists:dashboard' %}"
                class="btn btn-neutral pull-left">❮ Volver al inicio</a>

                <div class="text-center"  >
                    <a href="{% url 'project_lists:repcu_estimate' project.id  %}"
                    class="btn btn-neutral float-left" style="color:white; background:#3498DB;font-size: 12px">
                    <strong>Estimar</strong></a>
                    <a href="{% url 'project_lists:techfactors' project.id   %}"
                    class="btn btn-neutral float-left" style="color:white; background:#3498DB ;font-size: 12px">
                    Factores Técnicos</a>
                     <a href="{% url 'project_lists:envfactors' project.id   %}"
                     class="btn btn-neutral float-left" style="color:white; background:#3498DB ;font-size:12px">
                    Factores Ambientales</a>
                 
                 
                 <a href="{% url 'project_lists:pdf_MTV' '3' project.id %}"
                    class="btn btn-neutral float-right" style="color:white; background:#3498DB ;font-size: 12px">
                    <span class="glyphicon glyphicon-download-alt"></span>  Descargar
                </a>
                <a href="{% url 'project_lists:edit_project_components' project.id  %}"
                    class="btn btn-neutral float-right " style="color:white; background:#3498DB ;font-size: 12px">Editar Componentes</i>
                 </a>
              </div>
                       
                <div class="card card-plain" style="color:black">
                    <div class="card-body bg-white" style="opacity: .65">
                    {% if form.errors %}
                        <div class="alert alert-danger" role="alert">
                            <div class="container">
                                <div class="alert-icon">
                                    <i class="now-ui-icons objects_support-17"></i>
                                </div>
                                <strong>Oh no!</strong>
                                {% for error in form.errors %}
                                    {{ form.errors.as_text | escape }}
                                {% endfor %}
                                <button type="button" class="close" data-dismiss="alert"
                                        aria-label="Close">
						<span aria-hidden="true">
							<i class="now-ui-icons ui-1_simple-remove"></i>
						</span>
                                </button>
                            </div>
                        </div>
                    {% endif %}
                   
                    {% if messages %}
                        <div class="alert alert-success" role="alert">
                            <div class="container">
                                <div class="alert-icon">
                                    <i class="now-ui-icons ui-2_like"></i>
                                </div>
                                <strong>Bien!</strong>
                                {% for message in messages %}
                                    {{ message }}
                                {% endfor %}
                                <button type="button" class="close" data-dismiss="alert"
                                        aria-label="Close">
  						<span aria-hidden="true">
							<i class="now-ui-icons ui-1_simple-remove"></i>
						</span>
                                </button>
                            </div>
                        </div>
                    {% endif %}

                     <div class="pull-left">
                    <h5 class="modal-title" style="color:grey;font-size: medium;" align="left">Proyecto: {{ project_name }} </h5>
                         <h1 class="modal-title" style="color:grey;font-size: small;" align="left">Unidad de tiempo: {{ project_time}} </h1>
                    <div class="text-right " >

                    </div>

                     

                    </div>

                    <div class="table-responsive " >
                        <table class="table">
                            {% if components %}
                                <thead class="">
                                <tr>
                                    <th>
                                       Componente
                                    </th>
                                    <th>
                                       Peso CU
                                    </th>
                                    <th>
                                       Peso Actores
                                    </th>
                                     <th>
                                       Acciones
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in components %}
                                    <tr>
                                        <td>
                                            {{ item.name }}
                                        </td>
                                        <td>
                                            {{ item.weightCU }}
                                        </td>
                                         <td>
                                            {{ item.actorsAmount }}
                                        </td>
                                       <td class="text-right"> 
                                             <a  align="center" class="nav-link" href="{% url 'project_lists:actors' item.id %}">Actores</a>
                                             <a  align="center" class="nav-link" href="{% url 'project_lists:cu' item.id %}">Casos de Uso</a>
                                             <a  align="center" class="nav-link" href="{% url 'project_lists:component_delete' project.id item.id %}">Eliminar</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            {% else %}
                                <br>
                                <br>
                                <thead>
                                <tr>
                                    <h6>
                                        TODAVÍA NO HAS AGREGADO COMPONENTES, POR FAVOR CREA UNO UTILIZANDO EL BOTÓN DE + 
                                    </h6>
                                </tr>
                                </thead>
                            {% endif %}
                        </table>
                    </div>
                </div>

            </div>
    </div>
{% endblock %}
