{% load static %}
{#<img src="{% static "my_app/example.jpg" %}" alt="My image"/>#}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="
    {% static "main/img/favicon.png" %}"/>
    <link rel="apple-touch-icon" sizes="76x76" href="
    {% static "main/img/apple-icon.png"%}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>ES3V+</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0,
    user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
{#    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,#}
{#    200" rel="stylesheet" />#}
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />#}
    <!-- CSS Files -->
    <link href="{% static "main/css/bootstrap.min.css" %}" rel="stylesheet" />
    <link href="{% static "main/css/now-ui-kit.css" %}" rel="stylesheet" />
    <link href="{% static "accounts/css/custom.css" %}" rel="stylesheet"/>
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="{% static "main/css/demo.css" %}" rel="stylesheet" />
</head>

<body class="landing-page sidebar-collapse">
    <!-- Navbar -->
     <nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent " color-on-scroll="100">
        <div class="container" >
            <div class="navbar-translate">
                <a class="navbar-brand" href="/" rel="tooltip"  data-placement="bottom">
                    Home
                </a>
            </div>
            <div class="collapse navbar-collapse justify-content-end"
                 id="navigation">
            <!-- <div class="collapse navbar-collapse justify-content-end"
                 id="navigation" data-nav-image="{% static "main/img/blurred-image-1.jpg" %}"> -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                            <div class="nav-link">
                                    <a href="{% url 'accounts:login' %}"
                                        class="btn "
                                        style ="background-color: #1858cd; font-size: 13px"
                                       
                                     >Login</a>
                                   
                                </div>
                        <!-- <a class="nav-link" href="https://github.com/parseendavid/django-shopping-list/issues">Have an issue?</a> -->
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->
    <div class="wrapper">
        <div class="page-header page-header-small">
            <div class="page-header-image" data-parallax="true"
                 style="background-image: url('{% static "main/img/bg6.jpg" %}')">
            </div>
            <div class="container">
                <div class="content-center">
                    <h2 class="title">Bienvenido a ES3V+! 
                       </h3>
                       <h3 class="title">Una herramienta para estimar tus proyectos
                        </h3>
                   <!--  <div class="text-center">
                        <a href="#" class="btn btn-primary btn-icon btn-round">
                            <i class="fa fa-facebook-square"></i>
                        </a>
                        <a href="#" class="btn btn-primary btn-icon btn-round">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="#" class="btn btn-primary btn-icon btn-round">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </div> -->
                    <br>
                    <div class="text-center btn-group-lg">
                        <a href="{% url 'accounts:signup' %}"
                           class="btn "
                           style ="background-color: #1858cd; font-size: 15px"
                        >REGISTRARSE</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-about-us">
            <div class="container">
                    <div class="row">
                            <div class="col-md-12 mr-auto ">
                                <p class="description">
                                        Podrás utilizar la herramienta de manera de poder estimar todos los proyectos que quieras en base a datos específicos que irás ingresando en diferentes tablas.
                                        El sistema analizará los datos ingresados y te dirá cuánto estima que puede durar tu proyecto.
                                        Para ello puedes elegir entre tres diferentes métodos de estimación: Método de Tres Valores, Método de Tres Valores Mejorado y Puntos de Caso de Uso Revisado. 
                                        El sistema está hecho para estimar proyectos (principalmente de software) en etapas tempranas, cuando todavía no sabemos mucho lo que va a pasar o cómo va a pasar.
                                        Luego de que hayas pensado todos los componentes del proyecto, los agregas al sistema y podes elegir con qué método estimar. Según el método que elijas, los datos que el sistema te va a pedir que completes.
                                        Luego de completados los datos, haces click en Estimar y listo!
                                </p>
                            </div>
                        </div>

                <div class="row">

                    <div class="col-md-12  mr-auto ">
                        <h2 class="title text-center">Porqué ES3V+?</h2>
                        <p class="description">
                            Estudiando la historia del software se puede observar la evolución tecnológica en el transcurso de los años y el rol importante que ha ido ocupando en nuestra sociedad.
                            Actualmente es difícil imaginar nuestras vidas sin software, está embebido en la mayoría de nuestras actividades cotidianas como la comunicación, el transporte, la educación y la medicina.         
                        </p>              
                            <p class="description">
                                El software se ha convertido en un aliado de la gestión empresarial y operativa de las organizaciones, siendo muchas veces pieza clave para aumentar su productividad y competitividad. Automatización de tareas, almacenamiento de información, geolocalización,  los numerosos cálculos que llevaban días hoy se realizan en segundos, son algunos de los tantos ejemplos del rol que ocupa hoy el software en la eficiencia de las empresas.
                            </p>
                            <p class="description">
                                Por ello es que las empresas dedicadas al desarrollo de software, para ser competitivas frente la gran demanda de productos adaptados a las organizaciones, deben generar productos de alta calidad, de manera rentable y en el menor tiempo posible.
                                Por eso es importante lograr con éxito los proyectos  y para lo cual es necesaria una buena estimación.
                            </p>
                    </div>
                </div>

                <div class="section-story-overview">
                    <div class="row">

                        <div class="card-deck mb-3 text-center">
                    <div class="card mb-4 shadow-sm">
                      <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Gestionar Proyectos</h4>
                      </div>
                      <div class="card-body">
                        <ul class="list-unstyled mt-3 mb-4">
                          <li> Una vez ingresado, podés agregar, editar y eliminar varios proyectos.De esta manera, podes estimar uno solo o todos los que te propongas.</li>
                          <li>Todos los que hayas ingresado se verán en la pantalla principal a la que llamamos Dashboard.</li>
                          <li>  Además, si tenés proyectos parecidos, o querés probar distintas combinaciones, podés duplicar un proyecto con todos sus valores para que solo tengas que cambiar lo que necesites y hacer una nueva estimación más rápido.  </li>
                        </ul>

                      </div>
                    </div>

                    <div class="card  shadow-sm">
                         <div class="image-container image-left"
                                 style="background-image: url('{% static "main/img/plan.jpg" %}')";>
                                <!-- First image on the left side -->
                            </div>

                    </div>
                    <div class="card mb-4 shadow-sm">
                     <div class="card-header">
                        <h4 class="my-0 font-weight-normal"> Gestionar Componentes</h4>
                      </div>
                      <div class="card-body">

                        <ul class="list-unstyled mt-3 mb-4">
                          <li>Los componentes son todas aquellas unidades de trabajo estimables.</li>
                          <li>Cada proyecto tendrá sus propios componentes y se accede a ellos mediante la opción: “Componentes”, podrás agregar todos los que quieras para cada proyecto, editarlos y eliminarlos si te equivocaste al agregar.e</li>
                        </ul>
                      </div>
                    </div>

                </div>

                </div>
                  <div class="row">
                     <div class="card-deck mb-3 ">
                        <div class="card mb-4 shadow-sm">
                        <div class="card-header">
                           <h4 class="my-0 font-weight-normal text-center">Estimar Proyectos</h4>
                         </div>
                          <div class="card-body">
                            <ul class="list-unstyled ">
                              <li>Una vez que se selecciona la opción de Estimar se te presentarán tres opciones para estimar el  proyecto: Método de tres valores (MTV), Método de tres valores mejorado (MTVM) y Puntos de caso de uso Revisado (Re-PCU). </li>
                               <li>Al seleccionar cada uno de ellos, serás redirigido a una sección correspondiente donde se te van a pedir distintos datos. </li>
                                <li>Si elegís el MTV, estos datos van a ser cuánto pensas que te va a llevar realizar el componente en el peor de los casos, siendo pesimista.  </li>
                                <li>También cuanto pensas que te va a llevar en esos días en los que estás iluminado y todo sale rápido. </li>
                                <li>Y naturalmente te va a pedir que ingreses realmente cuanto pensas que va a llevar la realización del componente. </li>
                                <li> Si elegías el MTVM, te va a pedir los mismos datos pero ademas vas a tener que agregar ell riesgo asociado al componente.</li>
                                  No te precoupes que si ya ingresaste los valores para el MTV, automáticamente se van a mostrar precargados en el MTVM.</li>
                                <li> Queremos facilitarte la vida lo mas posible!
                                 <li>Y si elegís Re-PCU la cosa es un poco mas complicada. </li>
                                <li>Ademas de todo lo que ya dijimos antes, vas a tener que completar dos tablas extras. </li>
                                <li>Este métoodo considera factores técnicos y ambientales al momento de estimar. </li>
                                <li>
                                Es un poco mas largo de utilizar pero la estimación es mucho mas acertada también!</li>
                            </ul>
                          </div>
                          </div>
                          <div class="card mb-4 shadow-sm">
                      <div class="card-header">
                        <h4 class="my-0 font-weight-normal text-center">Descargar</h4>
                      </div>
                      <div class="card-body">

                        <ul class="list-unstyled mt-3 mb-4">
                          <li>Si querés compartir la estimación con un colega o si querés armar un informe más profesional, tenés la opción de descargar en pdf las estimaciones realizadas con el detalle de los componentes ingresados y todo lo que agregaste al sistema.</li>

                        </ul>

                      </div>
                               <div class="image-container image-left"
                                 style="background-image: url('{% static "main/img/analytic.jpg" %}')";>
                                <!-- First image on the left side -->
                            </div>
                    </div>
                      </div>

                 </div>


        </div>

  </div>



       
    </div>

    <footer class="footer " style="background-color: black">

        <div class="container">
            <div class="copyright" style="color: white; float: left;">
                © 2019, Developed by <a href="" target="_blank">Vittoria Melloni</a>
                & <a href="" target="_blank"> Jessica Llorente</a>
            </div>
            <div class="copyright" style="color: white; float: right;">
                     Mentored by <a href="" target="_blank">Pablo Ortiz Bochard</a>
            </div>
        </div>
    
    
    </footer>
</body>


<!--   Core JS Files   -->
<script src="{% static "main/js/core/jquery.3.2.1.min.js" %}"
        type="text/javascript"></script>
<script src="{% static "main/js/core/popper.min.js" %}"
        type="text/javascript"></script>
<script src="{% static "main/js/core/bootstrap.min.js" %}"
        type="text/javascript"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="{% static "main/js/plugins/bootstrap-switch.js" %}"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="{% static "main/js/plugins/nouislider.min.js" %}"
        type="text/javascript"></script>
<!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
<script src="{% static "main/js/plugins/bootstrap-datepicker.js" %}"
        type="text/javascript"></script>
<!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
<script src="{% static "main/js/now-ui-kit.js" %}"
        type="text/javascript"></script>

</html>


